# Record Morning Edition Mon - Fri from 5am - 7am
0 5 * * 1-5     /usr/local/NPR_streamcatcher/streamrecord.sh WUOT MorningEdition 120 /home/multimedia/podcast &

# Record Weekend Edition Sat - Sun from 8am - 10am
0 8 * * 6-7     /usr/local/NPR_streamcatcher/streamrecord.sh WUOT WeekendEdition 120 /home/multimedia/podcast &

# Record All Things Considered Weekday 4pm - 6pm
0 16 * * 1-5    /usr/local/NPR_streamcatcher/streamrecord.sh WUOT AllThingsConsidered 120 /home/multimedia/podcast &

# Record All Things Considered Weekend 5pm - 6pm
0 17 * * 6-7    /usr/local/NPR_streamcatcher/streamrecord.sh WUOT AllThingsConsidered 60 /home/multimedia/podcast &

# Record Car Talk Saturday 10am - 11am
0 10 * * 6      /usr/local/NPR_streamcatcher/streamrecord.sh WUOT CarTalk 60 /home/multimedia/podcast &

# Record Wait Wait Dont Tell Me Saturday 11am - 12am
0 11 * * 6      /usr/local/NPR_streamcatcher/streamrecord.sh WUOT WaitWait 60 /home/multimedia/podcast &

# Record This American Life Saturday 12am - 1pm
0 12 * * 6      /usr/local/NPR_streamcatcher/streamrecord.sh WUOT ThisAmericanLife 60 /home/multimedia/podcast &

# Record Prairie Home Companion Saturday 6pm - 8pm
0 18 * * 6      /usr/local/NPR_streamcatcher/streamrecord.sh WUOT PrairieHomeCompanion 120 /home/multimedia/podcast &

# Record Thistle and Shamrock Saturday 8pm - 9pm
0 20 * * 6      /usr/local/NPR_streamcatcher/streamrecord.sh WUOT ThistleShamrock 60 /home/multimedia/podcast &

# Record Mountain Jubilee Saturday 9pm - 10pm
0 21 * * 6      /usr/local/NPR_streamcatcher/streamrecord.sh WUOT MountainJubilee 60 /home/multimedia/podcast &

# Record RadioLab Saturday 2pm - 3pm WUOT2
0 14 * * 6      /usr/local/NPR_streamcatcher/streamrecord.sh WUOT2 RadioLab 60 /home/multimedia/podcast &

## Record Clayton Holiday Concert
#0 20 24 12 *   /usr/local/NPR_streamcatcher/streamrecord.sh WUOT ClaytonHolidayConcert 120 /home/multimedia/podcast &

# Record 1A Mon - Fri from 10am - 12pm on WUOT-2
0 10 * * 1-5     /usr/local/NPR_streamcatcher/streamrecord.sh WUOT2 1A 120 /home/multimedia/podcast &

# Record 1A Mon - Fri from 10am - 12pm on WUOT-2
#40 9 * * *     /usr/local/NPR_streamcatcher/streamrecord.sh WUOT2 TestRecord 3 /home/multimedia/podcast "TestRecord" &
